<div class="content-area-accent">
    <div class="text-center container content-main">
        <div class="content-header">
            About<br />
            <div class="inline-div content-hidden-medium">───</div>── <i class="fa fa-user"></i> <div class="inline-div content-hidden-medium">───</div>──
        </div>
        <p>Hello visitor!</p>
        <div class="container content-about">
            <p>My name is Bennett and I am a student, developer, and tech enthusiast. I am currently studying computer science, software engineering, and mathematics at the University of Wisconsin - La Crosse.</p>
            <p>I previously worked in a small IT department where I handled help desk calls and work tickets. I also handled various other IT-related activities.</p>
            <p>In terms of programming, I have knowledge of multiple programming languages including Java, Python, HTML & CSS, C, and C#. Check out my github for more information on my projects!</p>
            <p>Feel free to reach out if you have any questions about who I am or what I do!</p>
        </div>
    </div>
</div>