<div class="content-area-accent">
    <div class="text-center container content-main">
        <div class="content-header">
            About<br />
            <div class="inline-div content-hidden-medium">───</div>── <i class="fa fa-user" style="font-size: 32px; color: #{{ site.color.primary }}"></i> <div class="inline-div content-hidden-medium">───</div>──
        </div>
        Text for the about section aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaa
    </div>
</div>