<div class="content-area-accent">
    <div class="text-center container content-main">
        <div class="content-header">
            About<br />
            <div class="inline-div content-hidden-medium">───</div>── <i class="fa fa-user"></i> <div class="inline-div content-hidden-medium">───</div>──
        </div>
        Text for the about section aaaaaaaaa aaaaaaaaaaaa aaaaaaaaaa aaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaa
    </div>
</div>