<div class="content-area-image">
    <div class="text-center container content-main content-intro vertical-center">
        <div style="font-size: 70px;">    
            Bennett Wendorf
        </div>
    <div style="font-size: 60px;">
        <div class="inline-div content-hidden-medium">─────</div> <i class="fa fa-code" style="font-size: 45px; color: #{{ site.color.accent }}"></i> <div class="inline-div content-hidden-medium">─────</div>
        </div>
        <div style="font-size: 40px;">
            Student <i class="fa fa-circle vertical-center" style="font-size: 15px; color: #{{ site.color.accent }}"></i> Programmer
        </div>
    </div>
</div>