<!-- Navbar -->
<nav class="top-bar dark-grey">
    <ul>
        <li class="site-link"><b><a href="index.html" class="btn-nav">{{ site.title }}</a></b></li>
        <!--<li class="nav-buttons"><b><a href="about.html" class="btn-nav">About</a></b></li>
        <li class="nav-buttons"><b><a href="projects.html" class="btn-nav">Projects</a></b></li>
        <li class="nav-buttons"><b><a href="index.html" class="btn-nav">Home</a></b></li>-->
        <li class="nav-buttons"><b><a href="#About" class="btn-nav">About</a></b></li>
        <li class="nav-buttons"><b><a href="#Projects" class="btn-nav">Projects</a></b></li>
        <li class="nav-buttons"><b><a href="index.html" class="btn-nav">Home</a></b></li>
    </ul>
</nav>
<div style="margin-top: 100px;"></div>