<!-- Navbar -->
<nav class="top-bar dark-grey">
    <ul>
        <li class="site-link vertical-center"><a href="#Page-Top" class="btn-nav rounded">{{ site.title }}</a></li>
        <li class="nav-buttons vertical-center content-hidden-medium"><a href="#About" class="btn-nav rounded">About</a></li>
        <li class="nav-buttons vertical-center content-hidden-medium"><a href="#Projects" class="btn-nav rounded">Projects</a></li>
        <li class="nav-buttons vertical-center content-hidden-medium"><a href="#Intro" class="btn-nav rounded">Home</a></li>
        <li class="nav-buttons vertical-center content-shown-medium" onclick="toggleDropdownMenu()"><i class="btn-nav fa fa-bars rounded" aria-hidden="true"></i></li>
    </ul>
    <div id="menuDiv" class="dropdown rounded">
        <ul>
            <li><a href="#Intro" class="btn-dropdown rounded">Home</a></li>
            <li><a href="#Projects" class="btn-dropdown rounded">Projects</a></li>
            <li><a href="#About" class="btn-dropdown rounded">About</a></li>
        </ul>
    </div>
</nav>
<div class="top-margin"></div>