<div class="content-area-light">
    <div class="text-center container content-main">
        <div class="content-header">
            Projects<br />
            <div class="inline-div content-hidden-medium">───</div>── <i class="fa fa-code-branch"></i> <div class="inline-div content-hidden-medium">───</div>──
        </div>
        <div class="projects-flex-grid container">
            <div class="projects-flex-row">
                {% for post in site.posts %}
                    <div class="projects-cell-flex projects-cell">
                        <a href="#projectModal-{{ post.modal-id }}" class="projects-link" data-toggle="modal">
                            <div class="open-indicator rounded">
                                <div class="open-indicator-content">
                                    <i class="fa fa-info-circle fa-3x"></i>
                                </div>
                            </div>
                            <div class="caption vertical-center">
                                {{ post.short-title }}
                            </div>
                            <img src="/res/{{ post.img }}" class="rounded projects-img" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>