body{
    background-color:white;
    margin: 0;
}

.dark-grey{
    background-color: #{{ site.color.primary }};
    color: #{{ site.color.primary-text }};
}

.top-bar{
    width: 100%;
    position: fixed;
    z-index: 1030;
    top: 0;
    height: 100px;
}

.top-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.nav-buttons{
    float: right;
    margin: 0 5px;
    font-size: 22px;
}

.site-link{
    float: left;
    font-size: 32px;
}

.main-footer{
    width: 100%;
    font-size: 20px;
    padding: 15px 0;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*footer.main-footer h3{
    margin-bottom: 30px;
    margin-top: 15px;
}*/

@media (max-width: 849px) {
   .content-hidden-medium {
        display: none;
    }
}

@media (min-width: 850px) {
    .content-shown-medium {
        display: none;
    }
}

.btn-nav{
    color: #{{ site.color.primary-text }};
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    border-radius: 5%;
    background: 0 0;
    transition: all .3s ease-in-out;
    border: solid 2px #{{ site.color.primary }};
    font-weight: bold;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active{
    border: solid 2px #{{ site.color.primary-text }};
    color: #{{ site.color.accent }};
    background: #{{ site.color.btn-hover }};
    text-decoration: none;
    cursor: pointer;
}

.btn-social{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    margin-top: 15px;
    font-size: 20px;
    color: #{{ site.color.primary-text }};
}

.btn-outline{
    border: solid 2px #{{ site.color.primary-light }};
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active{
    border: solid 2px #{{ site.color.primary-text }};
    color: #{{ site.color.accent }};
    background: #{{ site.color.btn-hover }};
    text-decoration: none;
}
