body{
    background-color:white;
    margin: 0;
}

.dark-grey{
    background-color: #{{ site.color.primary }};
    color: var(header-text-color);
}

.top-bar{
    width: 100%;
    font-size: 22px;
}

nav.top-bar a{
    color: #{{ site.color.primary-text }};
    padding: 15px 25px;
    text-decoration: none;
    display: block;
}

nav.top-bar a:hover{
    background-color: #{{ site.color.btn-hover }};
    color: #{{ site.color.accent }};
}

nav.top-bar a:active{
    background-color: #{{ site.color.btn-active }};
    color: #{{ site.color.accent }}
}

nav.top-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

li.nav-buttons{
    float: right;
    margin: 0 5px;
}

li.site-link{
    float: left;
}
