<!DOCTYPE html>
<html>
    {% include head.html %}
    <div id="Page-Top">
        <body>
            {% include navbar.html %}
            <section id="Intro">
                {% include intro.html %}
            </section>
            <section id="Projects">
                {% include projects.html %}
            </section>
            <section id="About">
                {% include about.html %}
            </section>
        </body>
        {% include footer.html %}
        {% include project_modals.html %}
    </div>
</html>